<html>
<head> BMTC </head>
<title> BMTC </title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
  <form method="POST" action=""> {% csrf_token %}
    <div class="ui-widget">
    <input type="text" name="source" placeholder="Enter Source" id="src"></div>
    <div class="ui-widget">
    <input type="text" name="destination" placeholder="Destination" id="dst"></div>
    <input type="submit" name="search" value="Search">
  </form>
  {% if src and dest %}
  <b> Bus from: {{src}}  to {{dest}}<b><br>
    {% endif %}
  {% if route_no and arrival_time %}
  <b>Route No: {{route_no}}</b><br>
  <b>Bus title : {{bus_name}}</b><br>
  <b>Arrival Time : {{arrival_time}}</b><br>
  <b>Number of Stops : {{stops}}</b><br>
  {% endif %}
</body>
<script>
$( function() {
var availableTags = {{bus_stops|safe}};
$( "#src" ).autocomplete({
source: availableTags
});
$( "#dst" ).autocomplete({
source: availableTags
});
} );
</script>
<!-- <script>
$(document).ready( function(){
  $('#src').change(function(){
    var name = $(this).val();
    var buses = ['ABCDEF','LAJDLA',"JSJHJHSDJH",'KHSJKDJS'];
    $.ajax(function(){
      type:"GET",
      url:"/get_bus_stops/",
      data :  {name: name},
      success: function(data){
        $("#src").autocomplete({
          source:buses
        })
      }
    })
  })
})
</script> -->
</html>
